*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'poppins';
}

.container{
    min-height: 100vh;
    width: 100%;
    background-image: url(billiard.avif);
    background-size: cover;
    
}

.service-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}



h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
}

h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #72e2ae;
    animation: anim 5s linear infinite;
}

@keyframes anim{
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 88%;
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}

.card{
    height: 330px;
    width: 370px;
    background-color: #1c2335;
    background-image: url(billiard.avif );
    padding: 3% 8%;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card::after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.cardhover:after{
    width: 225%;
    top: -100%;
}

.card i{
    color: #72e2ae;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.card p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(255, 255, 255, 0.6);
}

.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #054169;
    background-image: url(billiard.avif);
}

.card:hover{
    color: #00ff37;
}

@media screen and (max-width:1200px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}@media screen and (max-width:900px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
    }

    h1{
        font-size: 3.5rem;
    }
}